body {
    font-family: 'Sintony', sans-serif;
    color: #000000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Averia Sans Libre', cursive;
    color: #000000;
}

p {
    font-size: 1.2rem;
}

a, a:hover {
    color: #000000;
    text-decoration: underline;
}

ul {
    font-size: 1.2rem;
    font-weight: bold;
}

blockquote {
    color: #ffffff;
    font-style: italic;
    font-size: 0.9rem;
}

section {
    padding: 100px 0;
}

label {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 6px;
}

button, .button {
    background-color: #f9a239;
}

button:hover, button:focus,
.button:hover, .button:focus {
    background-color: #e77e00;
}


/* HEADER */
header {
    width: 100%;
    background-color: #ffffff;
    padding: 90px 0;
}

header h1, header h3, header h5 {
    color: #000000;
}

header h1 {
    font-size: 4rem;
}

header h2 {
    font-size: 3rem;
    color: #f9a239;
}


/* BAWBAG */
section.bawbag {
    background-color: #dddddd;
}

section.bawbag .downloads {
    margin-top: 30px;
}


/* MINING */
section.mining {
    background-color: #f9a239;
}

section.mining h2 {
    color: #ffffff;
}


/* BAWBEECOIN */
section.bawbeecoin {
    background-color: #000000;
    color: #ffffff;
}

section.bawbeecoin h2 {
    color: #f9a239;
}

section.bawbeecoin a {
    color: #ffffff;
}


/* HORIZONTAL RULES */
div.split {
    margin: 0;
    height: 16px;
    width: 100%;
}

div.split.white_grey {
    background: url('../img/rule_white_grey.png') repeat-x;
}

div.split.grey_orange {
    background: url('../img/rule_grey_orange.png') repeat-x;
}

div.split.orange_black {
    background: url('../img/rule_orange_black.png') repeat-x;
}